version: '3.3'
services:

  chaingear-api:
    image: cybernode/chaingear-api:latest
    restart: unless-stopped
    ports:
      - 32600:8090
    environment:
      ADV_HOST: chaingear-api

networks:
    default:
        external:
            name: staging_default